/*
@import 'bootstrap.css';
@import 'bootstrap-responsive.min.css';
*/
body {
    padding-top: 70px;
    padding-bottom: 50px;
}

.dropdown-menu > li > a.disabled, 
.dropdown-menu > li > a.disabled:visited ,
.dropdown-menu > li > a.disabled:active,
.dropdown-menu > li > a.disabled:hover {  
  color: #999;
  cursor: default;
  background-color: white;
}

.translation-missing {
  background: rgba(255,0,0,.3);
}

label.control-label {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0;
}

.margin0 { margin: 0; }

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
  margin-bottom: 0px;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
 
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar .brand {
    padding-left: 20px !important;
  }
}
/*
        fieldset { border:none; width:320px;}
        legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
        label { display:block; margin:15px 0 5px;}
        input[type=text], input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
        .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
        .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
        .prev { float:left;}
        .next { float:right;}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}
        #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
        #makeWizard:hover { background-color:#000;}
*/
