SET character_set_client = utf8;

-- Drop Tables 
DROP TABLE IF EXISTS products;
DROP TABLE IF EXISTS taxons;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS orders;
DROP TABLE IF EXISTS variants;
DROP TABLE IF EXISTS payments;
DROP TABLE IF EXISTS payments_methods;
DROP TABLE IF EXISTS adress;
DROP TABLE IF EXISTS shipments;
DROP TABLE IF EXISTS inventorys_unit;
DROP TABLE IF EXISTS line_items;

-- Create Tables
CREATE TABLE products (
  id               integer(11)   NOT NULL AUTO_INCREMENT,
  name             varchar(127)  NOT NULL,
  description      text          NOT NULL,
  permalink        varchar(255),
  meta_description text,
  meta_keywords    text,
  count_on_hand    integer(11)            DEFAULT 0,
  safety_stock     integer(11)            DEFAULT 10,  
  available_on     datetime               DEFAULT '0000-00-00 00:00:00',
  deleted_at       datetime               DEFAULT '0000-00-00 00:00:00',
  created_at       datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  updated_at       timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

  PRIMARY KEY (id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce Products';

CREATE TABLE taxons (
  id               integer(11)   NOT NULL AUTO_INCREMENT,
  name             varchar(127)  NOT NULL,
  position         integer(3)    NOT NULL,
  permalink        varchar(255)  NOT NULL,
  lft              integer(3)    NOT NULL,
  rgt              integer(3)    NOT NULL,
  description      text          NOT NULL,
  hidden           boolean       NOT NULL DEFAULT 0,
  home_page        boolean       NOT NULL DEFAULT 0,
  short_name       varchar(63)   NOT NULL,

  PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce Taxons';


CREATE TABLE users (
  id                    integer(11)   NOT NULL AUTO_INCREMENT,
  email                 varchar(127)  NOT NULL,
  encrypted_password    varchar(127)  NOT NULL,
  password_salt         varchar(127)  NOT NULL,
  remember_token        varchar(127)  NOT NULL,
  created_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  updated_at            timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  persistence_token     varchar(172)  NOT NULL,
  reset_password_token  VARCHAR(100)  NOT NULL,
  perishable_token      varchar(100)  NOT NULL,
  sign_in_count         integer(11)   NOT NULL,
  failed_attempts       integer(11)   NOT NULL,
  last_request_at       datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  last_sign_in_at       datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  lasts_sign_in_ip      varchar(100)  NOT NULL,
  login                 varchar(100)  NOT NULL,
  authentification_token varchar(100) NOT NULL,
  unlock_token          varchar(90)   NOT NULL,
  locked_at             datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  

  PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce Users';


CREATE TABLE orders (
  id                    integer(11)   NOT NULL AUTO_INCREMENT,
  item_total            decimal(5)    NOT NULL,
  total                 decimal(5)    NOT NULL,
  created_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  updated_at            timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  state                 varchar(100)  NOT NULL,
  adjustement_total     decimal(5)    NOT NULL,
  credit_total          decimal(5)    NOT NULL,
  completed_at          datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  payment_total         decimal(5)    NOT NULL,
  user_id               integer(11)   REFERENCES users,
  adress_id             integer(11)   REFERENCES adress,

  PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce Orders';

CREATE TABLE variants (
  id                    integer(11)   NOT NULL AUTO_INCREMENT,
  sku                   varchar(20)   NOT NULL,
  price                 decimal(5)    NOT NULL,
  weight                decimal(5)    NOT NULL,  
  height                decimal(5)    NOT NULL,
  width                 decimal(5)    NOT NULL,
  depth                 decimal(5)    NOT NULL,
  deleted_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  is_master             boolean,
  count_on_hand         integer(5)    NOT NULL,
  cost_price            decimal(5)    NOT NULL,
  position              integer(5)    NOT NULL,
  product_id            integer(11)   NOT NULL REFERENCES product,

 PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce Variants';

CREATE TABLE payments (
  id                    integer(11)   NOT NULL AUTO_INCREMENT,
  created_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  updated_at            timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  amount                decimal(5)    NOT NULL,
  state                 varchar(50)   NOT NULL,
  response_code         varchar(50)   NOT NULL,
  avs_response          varchar(50)   NOT NULL,

 PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce Payments';

CREATE TABLE payments_methods(
  id                    integer(11)   NOT NULL AUTO_INCREMENT,
  type                  varchar(50)   NOT NULL,
  name                  varchar(50)   NOT NULL,
  description           varchar(260)   NOT NULL,
  active                boolean       NOT NULL,
  created_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  updated_at            timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  deleted_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
 display_on             varchar(50)   NOT NULL, 
  payments_id           integer(11)   REFERENCES payments,
PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce Payments_methods';

CREATE TABLE adress(
  id                    integer(11)   NOT NULL AUTO_INCREMENT,
  firstname             varchar(50)   NOT NULL,
  lastname              varchar(50)   NOT NULL,  
  adress1               varchar(50)   NOT NULL,  
  adress2               varchar(50)   NOT NULL,  
  city                  varchar(30)   NOT NULL,  
  state                 varchar(30)   NOT NULL,  
  zipcode               varchar(20)   NOT NULL,  
  country               varchar(25)   NOT NULL,  
  phone                 varchar(20)   NOT NULL,  
  created_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
  updated_at            timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce adress';

CREATE TABLE shipments (
    id                    integer(11)   NOT NULL AUTO_INCREMENT,
    tracking              varchar(50)   NOT NULL,
    created_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
    updated_at            timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    number                varchar(60)   NOT NULL,
    cost                  decimal(5)    NOT NULL,
    shipped_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
    state                 varchar(40)   NOT NULL,
    address_id            integer(11)   REFERENCES adresses,
    order_id              integer(11)   REFERENCES orders,

PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce Shipment';

CREATE TABLE inventorys_unit (
    id                    integer(11)   NOT NULL AUTO_INCREMENT,
    state                 VARCHAR(40)   NOT NULL,
    lock_version          integer(11)   NOT NULL DEFAULT 0,
    created_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
    updated_at            timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    variant_id            integer(10)   REFERENCES variants,
    order_id              integer(10)   REFERENCES orders,
    shipment_id           integer(10)   REFERENCES shipments,
PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce inventorys unit';

CREATE TABLE line_items (
    id                    integer(11)   NOT NULL AUTO_INCREMENT,
    quantity              integer(50),
    price                 decimal(5),
    created_at            datetime      NOT NULL DEFAULT '0000-00-00 00:00:00',
    updated_at            timestamp     NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    order_id              integer(10)   REFERENCES orders,
    variant_id            integer(10)   REFERENCES variants,

PRIMARY KEY (id)  
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='PerlEcommerce LINE_ITEMS';
