-- Delete existing records
DELETE FROM products;

-- Seeds
INSERT INTO products(id, name, price) VALUES(1, 'Product #1', 34.99 );
INSERT INTO products(id, name, price) VALUES(2, 'Product #2', 32.99 );
INSERT INTO products(id, name, price) VALUES(3, 'Product #3', 12.00 );
INSERT INTO products(id, name, price) VALUES(4, 'Product #4', 89.99 );
INSERT INTO products(id, name, price) VALUES(5, 'Product #5', 21.00 );
