
-- Products

DELETE FROM products;
DELETE FROM variants;
DELETE FROM images;

INSERT INTO products(
    id, name, 
    description, 
    permalink, meta_description, meta_keywords, count_on_hand, available_on, safety_stock
) VALUES ( 
   1,'Perl Mug',
   "A very nice mug to drink your favorite developper beverage ! Be geek from early morning.",
   'perl-mug',
   "Mug for perl fans", 'mug cup coffee perl goodies', 10, NOW(), 5
);
INSERT INTO variants(id,       sku, price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (1,   'PRL-M1', 13.99,       8.34,     700,    92,    60,    60,         1,             5,          1);
INSERT INTO variants(id,       sku, price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (2,   'PRL-M2', 13.99,       8.34,     700,    92,    60,    60,         0,             3,          1);
INSERT INTO variants(id,       sku, price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (3,   'PRL-M3', 13.99,       8.34,     700,    92,    60,    60,         0,             2,          1);
INSERT INTO images  (id,       alt_text, position, product_id)
             VALUES (1,  "Image Mug #1",        1,          1);
INSERT INTO images  (id,       alt_text, position, product_id)
             VALUES (2,  "Image Mug #2",        2,          1);


INSERT INTO products(
    id, name, 
    description, 
    permalink, meta_description, meta_keywords, count_on_hand, available_on, safety_stock
) VALUES ( 
   2,'Perl TShirt',
   "Assume it ! You're a geek, show all your collegues what your favorite language is. Don't be afraid of teasing. ",
   'perl-tshirt',
   "TShirt for perl fans", 'tshirt dressing closhes perl goodies', 43, NOW(), 5
);
INSERT INTO variants(id,        sku,   price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (4,   'PRL-TS1', 24.99,      10.90,    200,    710,   420,     0,         1,            20,          2);
INSERT INTO variants(id,        sku,   price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (5,   'PRL-TS2', 24.99,      10.90,    200,    710,   420,     0,         0,            10,          2);
INSERT INTO variants(id,        sku,   price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (6,   'PRL-TS3', 26.99,      11.90,    220,    730,   470,     0,         0,            12,          2);
INSERT INTO variants(id,        sku,   price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (7,   'PRL-TS4', 29.99,      12.90,    250,    780,   500,     0,         0,             1,          2);


INSERT INTO products(
    id, name, 
    description, 
    permalink, meta_description, meta_keywords, count_on_hand, available_on, safety_stock
) VALUES ( 
   3,'Perl Pen',
   "A good programmer anyhow always requires a pen. Get this pen to write down you future applications drafts",
   'perl-pen',
   "Pen for perl fans", 'pen write paper tool desktop perl goodies', 3, NOW(), 5
);
INSERT INTO variants(id,      sku, price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (8,   'PRL-P1', 5.99,       1.54,     50,    111,    12,    12,         1,             5,          3);

INSERT INTO products(
    id, name, 
    description, 
    permalink, meta_description, meta_keywords, count_on_hand, available_on, safety_stock
) VALUES ( 
   4,'Perl KeyChain',
   "This the key for success... Or at least it will be with this awesome keychain decorator. Get it now !",
   'perl-keychain',
   "Keychain for perl fans", 'keychain key perl goodies', 10, NOW(), 5
);
INSERT INTO variants(id,      sku, price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (9, 'PRL-KC1',  2.99,       0.43,     70,     42,    10,     3,         1,            39,          4);

INSERT INTO products(
    id, name, 
    description, 
    permalink, meta_description, meta_keywords, count_on_hand, available_on, safety_stock
) VALUES ( 
   5,'Perl Mouse Pad',
   "Because gaming and programming are indeed compatibles. Get more accurate with the soft material mouse pad.",
   'perl-mousepad',
   "MousePad for perl fans", 'mouse mousepad gaming perl goodies', 10, NOW(), 5
);
INSERT INTO variants(id,      sku, price, cost_price, weight, height, width, depth, is_master, count_on_hand, product_id)  
             VALUES (10,'PRL-MP1', 18.49,       12.34,    90,     30,    35,     5,         1,             24,         5);



-- Taxons
DELETE FROM taxons;
INSERT INTO taxons(id, name, position, permalink, lft, rgt, description, hidden, home_page)
VALUES (1, 'Category #1', 1, 'cat_1', 0, 0, 'Description of Cat 1', false, true);
INSERT INTO taxons(id, name, position, permalink, lft, rgt, description, hidden, home_page)
VALUES (2, 'Category #2', 1, 'cat_1', 0, 0, 'Description of Cat 2', false, true);
