[% USE url %]

[%- MACRO url_for(base, args) GET args ? c.url_for(base, args) : c.url_for(base) -%]

[%- MACRO t(key) BLOCK %]
  [% IF h.l(key) == key %]
    <span class="translation-missing">[% key FILTER ucfirst %]</span>
  [% ELSE %] [% h.l(key) %] [% END %]
[% END %]

[%- BLOCK content_for -%]
  [%- content -%]
[%- END -%]

